.login {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  justify-content: space-around;
  padding: 0 1rem;
  & header {
    text-align: center;
  }
}

.form {
  border: 1px solid black;
  border-radius: 16px;
  display: inherit;
  flex-direction: inherit;
  padding: 1rem;

  & .actions {
    display: inherit;
    justify-content: space-between;

    & button {
      font-size: 1.1rem;
      height: 40px;
      width: 120px;
      background-color: rgba(128, 128, 128, 0.658);
    }
  }

  & .user-inputs {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;

    & .test-user,
    .password-hidden,
    .password-hidden--2nd,
    .password-hidden--3nd {
      position: absolute;
      height: 40px;
      right: 0px;
      top: 35px;
      width: 40px;
      font-size: 1.6rem;
      font-weight: bold;
      background: gray;
      border: 2px solid transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &.test-user:hover {
        color: orange;
        border: 2px solid;
      }
    }

    & .password-hidden,
    .password-hidden--2nd,
    .password-hidden--3nd {
      top: 112px;
      background: none;
    }
    & .password-hidden--2nd {
      top: 188px;
    }

    & .password-hidden--3nd {
      top: 262px;
    }

    & a {
      text-align: right;
    }
  }

  & label {
    margin-top: 1rem;
  }

  & input {
    font-family: var(--base-font);
    font-size: 1.1rem;
    background-color: rgba(128, 128, 128, 0.432);
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding-left: 0.5rem;
  }

  & .termsPolicies {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;

    & input[type="checkbox"] {
      width: 20px;
      margin-right: 1rem;
      accent-color: #4caf50;
    }

    & a {
      font-weight: 600;
    }
  }

  & .submit {
    margin-top: 2rem;
  }

  & .social-auth {
    font-size: 1.1rem;
    text-align: center;

    & p {
      margin: 2rem 0;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 35%;
        margin-right: 1rem;
        border-bottom: 2px solid black;
        margin-bottom: 4px;
      }

      &::after {
        margin-right: 0;
        margin-left: 1rem;
      }
    }

    & div {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    & span {
      display: block;
      height: fit-content;
      width: fit-content;
    }

    & img {
      width: 30px;
    }
  }
}

@media screen and (min-height: 768px) {
  .login {
    height: calc(100vh - 166px);
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 40vw;
    max-width: 900px;
  }
}
