@import url(./presentation-component/presentation.css);
@import url(./login-component/login.css);
@import url(./animations/presentationTrasition.css);
@import url(./footer-component/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  /* TO-DO pensar em uma paleta de cores */
  --secondary-emphasis: #ccff33;
  --presentation-bg: #29bf12;
  --footer-bg: chacoal;

  --title-font: "Pacifico", cursive;
  --base-font: "Raleway", sans-serif;
}

html {
  font-family: var(--base-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
}

h1,
h2 {
  user-select: none;
  font-size: 3rem;
  color: var(--secondary-emphasis);
  font-family: var(--title-font);

  &::before {
    content: url("../../public/svg/money.svg");
    margin-right: 1rem;
  }
}

h2 {
  font-size: 2.6rem;
  margin: 0 1rem;
}

a {
  color: black;
  &:hover {
    color: royalblue;
  }
}
