@import url(./presentation-component/presentation.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  /* TO-DO pensar em uma paleta de cores */
  --secondary-emphasis: #ccff33;
  --presentation-bg: #29bf12;

  --title-font: "Pacifico", cursive;
  --base-font: "Raleway", sans-serif;
}

html {
  font-family: var(--base-font);
  font-size: 1.1rem;
}

body {
  min-width: 320px;
}
