@import url(./presentation-component/presentation.css);
@import url(./login-component/login.css);
@import url(./animations/presentationTrasition.css);
@import url(./app/app.css);
@import url(./footer-component/footer.css);
@import url(./termsPolicies-page/termsPolicies.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

:root {
  /* TO-DO pensar em uma paleta de cores */
  --secondary-emphasis: #ccff33;
  --presentation-bg: #29bf12;
  --footer-bg: chacoal;

  --title-font: "Pacifico", cursive;
  --base-font: "Raleway", sans-serif;
}

html {
  font-family: var(--base-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  height: 100vh;
  min-width: 320px;
}

h1,
.secondTitle {
  user-select: none;
  font-size: 3rem;
  color: var(--secondary-emphasis);
  font-family: var(--title-font);

  &::before {
    content: url("../../public/svg/money.svg");
    margin-right: 1rem;
  }
}
.secondTitle {
  font-size: 2.5rem;
  margin: 0 1rem;
}

a {
  color: black;
  &:hover {
    color: royalblue;
  }
}

/* provavelmente será removido, já que o botão de teste será temporário */
.tester-modal {
  margin: auto;
  box-shadow: 0px 0px 5px gray;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.6;
  width: 260px;

  & button {
    display: block;
    font-weight: bold;
    background-color: darkgray;
    width: 60px;
    height: 40px;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
